/* Colores used in making the website

    color: rgb(163, 185, 255);

*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: rgb(58, 58, 58);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}



/* REUSABLE COMPONENTS */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 85px 0;
}

.box p {
    font-size: 100%;
    line-height: 150%;
} 




/* ICONS */

.big-icon {
    width: 100%;
    font-size: 400%;
    color: rgb(48, 64, 116);
    margin-bottom: 3px;
    margin-right: 50%;
    display: inline-block;
    text-align: center;
}


/* LINKS */



/* BUTTONS */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    margin-left: 40%;
    padding: 10px 20px;
    font-weight: 350;
    text-decoration: none;
    border-radius: 300px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: rgb(163, 185, 255);
    border: 2px solid rgb(163, 185, 255);
    color: #fff;
    margin-right: 12px;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: rgb(7, 27, 92);
}

.btn-full:hover,
.btn-full:active {
    border: 2px solid rgb(163, 185, 255);
}



.btn-re:link,
.btn-re:visited,
input[type=submit] {
    display: inline-block;
    float: inline;
    margin-left: 5%;
    padding: 8px 10px;
    font-weight: 280;
    text-decoration: none;
    border-radius: 300px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-re:link,
.btn-re:visited,
input[type=submit] {
    background-color: rgb(163, 185, 255);
    border: 2px solid rgb(163, 185, 255);
    color: #fff;
    margin-right: 13px;
}

.btn-re:hover,
.btn-re:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: rgb(7, 27, 92);
}

.btn-re:hover,
.btn-re:active {
    border: 2px solid rgb(163, 185, 255);
}

/* Paragraphs */

.long-info {
    line-height: 150%;
    width: 75;
    margin-bottom: 5px;
}



/* HEADINGS (h) */

h1,
h2,
h3 {
    font-weight: 450;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(163, 185, 255);
    font-size: 210%;
    word-spacing: 2px;
    letter-spacing: 1px;
}

h2 {
    text-align: center;
    font-size: 160%;
    margin-top: -10px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

h3 {
    text-align: center;
    font-size: 150%;
    margin-bottom: 20px;
    margin-top: 10px;
}

p {
    text-align: center;
    font-size: 120%;
}

/* p:after {
    display: block;
    height: 2px;
    background-color: rgb(6, 18, 56);
    content: " ";
    width: 1050px;
    margin: 0 auto;
    margin-top: 20px;
} */

/* h2:after {
    display: block;
    height: 2px;
    background-color: rgb(6, 18, 56);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
} */

 /* h3:after {
    display: block;
    height: 2px;
    background-color: rgb(6, 18, 56);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}  */



/* ----- HEADER --------- */ 
/* Photo by Jessica Lewis from Pexels */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url(img/back.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 38%;
    left: 40%;
    transform: translate(-40%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 25px;
    padding-top: 20px;
}

/* MAIN NAV */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 35px;
    padding-top: 35px;
}

.main-nav li {
    display: inline-block;
    margin-left: 35px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 1px 0;
    color: rgb(163, 185, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgb(163, 185, 255);;
}


/* Section 1 : Feature Info */



.features-info {
    padding: 3%;
    background-color: rgb(185, 200, 250);
    
}

.features-info h2 {
    border-bottom: 10px;
    text-underline-offset: 5px;
    text-decoration-line: underline;


}
.features-info h3 {
    text-underline-offset: 5px;
    text-decoration-line: underline;
}

.features-info p {
    margin-bottom: 15px;
}





/* Section 2 : Manage Subscriptions */

.manage-subs {
    background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.74)), url(img/back2.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(163, 185, 255);
} 

.manage-subs h2 {
    text-align: center;
}

.manage-subs h3 {
    font-weight: 300;
}


/* Section 3 : How to use our services */



.working-steps {
    margin-top: 18px;
    font-size: 35px;

}


.box-step {
    margin-left: 15%;
    margin-top: 2%;
}

.box-step a {
    display: inline-block;
}

.working-steps p {
    clear: both;
    text-align: left;
    padding: 4%;
    margin-top: 25px;
    font-size: 35px;
    white-space: nowrap;
}

/* Footer nav end */


footer {
    background-color: rgb(185, 200, 250);
    padding: 55px;
    font-size: 100%;
}

.footer-n {
    list-style: none;
    float: left;
}

.social {
    list-style: none;
    float: right;
}

.footer-n li,
.social li {
    display: inline-block;
    margin-right: 25px;
}

.footer-n li:last-child,
.social li:last-child {
    margin-right: 0;
}


.footer-n li a:link,
.footer-n li a:visited, 
.social li a:link,
.social li a:visited {
    text-decoration: none;
    border: 0;
    color: rgb(7, 27, 92);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-n li a:hover,
.footer-n li a:active {
    color: rgb(0, 0, 0);
}

.social li a:link,
.social li a:visited {
    font-size: 170%;
}


.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.3s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}







